html, body {
	margin-bottom:0;
	padding-bottom:0;
	height:99%;
}

body {
	background-color: #111111;
	color: #EEEEEE;
	font-family: Georgia, Times, serifs;
	background-image: url(../images/FOXAC1D.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: bottom right;
	
}

pre {
   /* background: linear-gradient(to right, red,orange,yellow,green,lightblue,indigo,violet); */
   background: linear-gradient(to right, red,yellow,green,lightblue,indigo,violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:link 	  	{ color:#EEEEEE; text-decoration: underline;} /* unvisited link */
a:visited 	{ color:#DDDDDD; text-decoration: underline;} /* visited link */
a:hover 	{ color:#FFFFFF; text-decoration: underline; } /* mouse over link */
a:active  	{ color:#FFFFFF; text-decoration: underline;} /* selected link */

